body
{
    text-align: center;
    font-family: Arial;
    color: #333;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: #88f;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#hyper
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo
{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin: 0px 10px;
}

#contenedor 
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;

}

#contenedor h1
{
    font-size: 20px;
}